target/*
target/
.vscode/*
.vscode/
target/classes/
target/generated-sources/
target/maven-archiver/
target/surefire-reports/
target/test-classes/
target/surefire/
target/surefire-reports/
target/classes/*
target/generated-sources/*
target/maven-archiver/*
target/surefire-reports/*
target/test-classes/*
target/surefire/*
target/surefire-reports/*
